---
import { getHomepage } from '@services/pages';
import { getImageData } from '@utils/image';
import Navigation from './navigation.astro';

const homepage = await getHomepage();
const { welcomeMessage, quickNavLinks, featureBackgroundImage, privacyPolicyUrl, instagramUrl, facebookUrl } = homepage || {};
const backgroundImageData = getImageData(featureBackgroundImage);

const currentYear = new Date().getFullYear();
---

<div class="homeside">
  <Navigation />
  <div class="flex flex-col gap-5">
    <h1 class="text-4xl font-bold">{welcomeMessage}</h1>
    <ul class="nav-menu">
      {quickNavLinks?.map(nav => (
        <li>
          <a href={`/${typeof nav.page === 'object' ? nav.page.slug : '#'}`}>
            {typeof nav.page === 'object' ? nav.page.title : ''}
          </a>
        </li>
      ))}
    </ul>
    <footer>
      <hr class="pb-3 opacity-20" />
      <div class="flex items-center justify-between">
        <div class="copy">
          &copy; Copyright {currentYear} by Pole Widzenia
          <a href={`/${privacyPolicyUrl || '#'}`}>
            {typeof privacyPolicyUrl === 'object' && privacyPolicyUrl && privacyPolicyUrl.title}
          </a>
        </div>
        <div class="nav-menu-social">
          <a href={`${instagramUrl || '#'}`}><div class="i-mdi-instagram text-3xl"></div></a>
          <a href={`${facebookUrl || '#'}`}><div class="i-mdi-facebook text-3xl"></div></a>
        </div>
      </div>
    </footer>
  </div>
</div>

<style define:vars={{ bgImg: backgroundImageData?.url ? `url(${backgroundImageData.url})` : 'none' }}>
  .homeside {
    background-image: var(--bgImg);
    @apply bg-(cover center neutral-500) h-screen flex flex-col justify-between p-10 md:sticky text-light top-0;
  }

  .nav-menu {
    @apply text-lg flex gap-5 justify-end;
  }

  .nav-menu a {
    @apply transition-opacity hover:(opacity-75 border-b solid);
  }

  .nav-menu-social {
    @apply flex gap-2;
  }

  .nav-menu-social a {
    @apply transition-opacity hover:opacity-75;
  }

  .copy {
    @apply text-sm;
  }

  .copy a {
    @apply border-(l light/25 solid) pl-2 ml-1 hover:underline;
  }
</style>
