<svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Pole Widzenia</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M6.60691e-06 36.572C0.0120066 15.925 16.031 -0.0139908 36.76 9.21552e-06C57.661 0.0130092 73.429 16.023 73.395 37.198C73.362 57.406 57.254 73.525 36.883 73.738C16.324 73.953 -0.0119934 57.492 6.60691e-06 36.572ZM67.338 36.712C67.304 19.554 53.668 5.98301 36.532 6.05601C19.445 6.12801 5.99301 19.805 6.05701 37.04C6.12101 54.157 19.705 67.41 37.109 67.336C53.999 67.264 67.371 53.718 67.338 36.712Z"
    fill="white"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M64.389 36.918C64.33 52.287 52.228 64.323 36.784 64.37C21.142 64.418 8.97801 52.253 9.00701 36.593C9.03601 21.062 21.353 9.04501 37.109 9.17701C52.459 9.30501 64.446 21.495 64.389 36.918ZM54.386 24.8C48.084 16.306 38.469 13.236 29.42 16.488C20.559 19.673 14.664 28.408 15.09 37.721C15.52 47.137 21.896 54.918 31.289 57.491C40.162 59.92 49.207 56.461 54.12 48.759C45.314 46.735 41.106 42.613 41.354 36.258C41.604 29.875 46.045 25.869 54.386 24.8Z"
    fill="white"></path>
</svg>
