---
import { ClientRouter } from 'astro:transitions';
import Homepage from '../components/homepage.astro';

interface Props {
  title?: string;
  slug?: string;
}

const { title, slug } = Astro.props;
const pageTitle = `${title ? `${title} - ` : ''}Pole Widzenia`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <main class="grid md:grid-cols-2">
      <Homepage slug={slug} />
      <div class="p-10">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  article h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  article.content {
    p, hr, ul, ol {
      @apply mb-5;
    }

    ul {
      @apply list-disc pl-5;
    }
}
</style>
